<div id="<%= dom_id report %>">
  <div>
    <strong>Player name:</strong>
    <%= report.player_name %>
  </div>

  <div>
    <strong>Position:</strong>
    <%= report.position %>
  </div>

  <div>
    <strong>College:</strong>
    <%= report.college %>
  </div>

  <div>
    <strong>Height:</strong>
    <%= report.height %>
  </div>

  <div>
    <strong>Weight:</strong>
    <%= report.weight %>
  </div>

  <div>
    <strong>Speed 40:</strong>
    <%= report.speed_40 %>
  </div>

  <div>
    <strong>Player comparison:</strong>
    <%= report.player_comparison %>
  </div>

  <div>
    <strong>Draft projection:</strong>
    <%= report.draft_projection %>
  </div>

  <div>
    <strong>Strengths:</strong>
    <%= report.strengths %>
  </div>

  <div>
    <strong>Weaknesses:</strong>
    <%= report.weaknesses %>
  </div>

  <div>
    <strong>Grade:</strong>
    <%= report.grade %>
  </div>

  <div>
    <strong>Notes:</strong>
    <%= report.notes %>
  </div>

</div>
